<script>
    import localStorageStore from "../stores/localStorageStore.svelte";
    import {goto} from "@sapper/app";

    let username = "";
    let password = "";

    let usernameOk = false;
    let passwordOk = false;
    $: loginOk = usernameOk && passwordOk;

    const store = localStorageStore("auth", '');

    async function handleLogin() {
        let res = await fetch("/credentials", {
            method: "PUT",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                name: username,
                password: password,
            }),
        });


        const json = await res.json();

        if (res.status === 200) {
            localStorageStore.set(json.token);
            console.log("logindata: " + json.token);
            goto("/");
        } else {
            alert("username or password is wrong, please try again.");
        }
    }

    function validateInput(e) {
        usernameOk = username.length > 0;
        passwordOk = password.length > 0;

        console.log("logging e:" + e);
        console.log(e.toString())

    }
</script>

<style>
    div {
        top: 20px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="row">
            <form class="login_form">
                <h1 class="auction_title">Login</h1>
                <div class="form-group">
                    <input
                            type="text"
                            placeholder="Username"
                            class="form-control"
                            bind:value={username}
                            on:input={validateInput}
                            id=""/>
                </div>
                <div class="form-group">
                    <input
                            type="password"
                            placeholder="Password"
                            class="form-control"
                            bind:value={password}
                            on:input={validateInput}/>
                </div>
                <button
                        on:click={handleLogin}
                        type="button"
                        class="btn btn-primary">Login
                </button>
                <a href="register">Register</a>
            </form>
        </div>
    </div>
</div>
