<script>
    import localStorageStore from '../stores/localStorageStore.svelte';
    import {onDestroy, onMount} from "svelte";

    const store = localStorageStore("auth", '');

    let bids = [];
    $: authToken = $store;

    // const unsub = auth.subscribe((data) => {
    //     authToken = data;
    // })

    onMount(() => {
        if (authToken !== "") {
            try {
                handleGetBids();
            } catch (e) {
                console.log("exception: " + e);
            }
        }
    });

    // onDestroy(() => {
    //     //unsub from the store to prevent memory leaks
    //     unsub();
    // });


    async function handleGetBids() {

        const payload = JSON.parse(atob(authToken.split('.')[1]));

        let url = '/api/users/' + payload.user;

        let res = await fetch(url, {
            method: "GET",
            headers: {"Content-Type": "application/json", "Authorization": "Bearer " + authToken},
            body: null
        }).catch();

        const json = await res.json()/*.catch(console.error)*/;

        if (res.status === 200) {
            console.log(res);

            bids = json.bids;

            console.log("bids: " + bids);

        } else {
            alert("Something went wrong!");
            console.log(res);
        }
    }
</script>

<main>
    <div class="row" id="auctionRowIndex">
        <table id="bidTable">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Time</th>
                <th>Is best bid?</th>
                <th>Remove</th>
            </tr>
            {#each bids as bid}
                <tr>
                    <td>{bid.itemName}</td>
                    <td>{bid.bid}</td>
                    <td>{bid.when}</td>
                    <td>{bid.bestBid}</td>
                    <td>
                        <i class="fa fa-trash"></i>
                    </td>
                </tr>
            {:else}
                {#if authToken !== ""}
                    <p>You have not made a bid yet!</p>
                {:else}
                    <p>You need to be logged in to see your bids!</p>
                {/if}
            {/each}
        </table>
    </div>
</main>