<script>
    import {onMount} from "svelte";

    let auctionItems = [];

    onMount(() => {
        try {
            handleGetAuctions();
        } catch (e) {
            console.log("exeption: " + e);
        }
    })

    async function handleGetAuctions() {
        //todo: zet het in een variable
        const urlParams = new URLSearchParams(window.location.search);
        let q = urlParams.get('search');

        console.log(q)

        let url = '/api/auctions/';

        if (!q || q === '') {
        } else {
            url = '/api/auctions/?search=' + q;
        }

        let res = await fetch(url, {
            method: "GET",
            headers: {"Content-Type": "application/json"},
            body: null
        }).catch();

        const json = await res.json();

        if (res.status === 200) {
            console.log(res);
            console.log(json);


            auctionItems = json;
        } else {
            alert("Something went wrong!");
            console.log(res);
        }

        console.log("test")
    }

    function handleItemClick() {
    }
</script>

<main>
    <div class="row" id="auctionRowIndex">
        {#each auctionItems as auctionItem (auctionItem.itemId)}
            <section class="auction_box">
                <p class="auction_title" on:click={handleItemClick}>{auctionItem.itemName}</p>
                <p class="auction_description">
                    {auctionItem.description}
                </p>
                <div class="auction_bid">
                    <!--                <span class="auction_bid_price">{highestBidHTML}</span>-->
                    <span class="auction_bid_time">{auctionItem.endTimeAuction}</span>
                </div>
            </section>

        {:else}
            <p>The are no auctions yet, come back later!</p>
        {/each}
    </div>
</main>