<script context="module">
    import { writable } from "svelte/store";

    // https://higsch.me/2019/06/22/2019-06-21-svelte-local-storage/
    export const localStorageStore = (key, initial) => {
        const { set: setStore, ...readableStore } = writable(initial, () => {
            // Fill it up with the current value when we get a subscriber
            if (process.browser) {
                // eslint-disable-next-line no-use-before-define
                getAndSetFromLocalStorage();
            }

            const updateFromStorageEvents = ({ key: eventKey }) => {
                // eslint-disable-next-line no-use-before-define
                if (eventKey === key) getAndSetFromLocalStorage();
            };

            if (process.browser) {
                window.addEventListener("storage", updateFromStorageEvents);
                return () => window.removeEventListener("storage", updateFromStorageEvents);
            }
        });

        // Set both the localStorage and this Svelte store
        const set = (value) => {
            setStore(value);
            localStorage.setItem(key, JSON.stringify(value));
        };

        // Synchronize the Svelte store and local storage
        const getAndSetFromLocalStorage = () => {
            const localValue = localStorage.getItem(key);

            if (localValue === null) set(initial);
            else {
                try {
                    setStore(JSON.parse(localValue));
                } catch {
                    set(initial);
                }
            }
        };

        return { ...readableStore, set };
    };
</script>

<script>
    const store = localStorageStore("auth", '');
</script>

<input bind:value={$store} type="text">