<!--<nav>-->
<!--	<ul>-->
<!--		<li><a aria-current="{segment === undefined ? 'page' : undefined}" href=".">home</a></li>-->
<!--		<li><a aria-current="{segment === 'about' ? 'page' : undefined}" href="about">about</a></li>-->

<!--		&lt;!&ndash; for the blog link, we're using rel=prefetch so that Sapper prefetches-->
<!--		     the blog data when we hover over the link or tap it on a touchscreen &ndash;&gt;-->
<!--		<li><a rel=prefetch aria-current="{segment === 'blog' ? 'page' : undefined}" href="blog">blog</a></li>-->
<!--	</ul>-->
<!--</nav>-->

<script>
    import {onMount} from "svelte";
    import localStorageStore from "../stores/localStorageStore.svelte";

    const store = localStorageStore("auth", '');

    $: authToken = $store;
    let loggedIn = false;
    let isAdmin = false;

    // const unsub = auth.subscribe(data => {
    //     authToken = data;
    //     // console.log("authToken: " + authToken + '\n' + "data: " + data);
    // });

    onMount(() => {
        console.log("nav bar created");
        console.log("authToken: " + authToken);
        if (authToken !== '') {
            const payload = JSON.parse(atob(authToken.split('.')[1]));
            loggedIn = true;
            if (payload.roles.includes("admin")) {
                isAdmin = true;
            }
        }
    });

    $: if (authToken !== '') {
        const payload = JSON.parse(atob(authToken.split('.')[1]));
        loggedIn = true;
        if (payload.roles.includes("admin")) {
            isAdmin = true;
        }
    }
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="auction_nav">
    <!--        <img src="public/logo.svg"/>-->
    <a href="/" >Home</a>
    {#if loggedIn}
        <a href="myBids">My bids</a>
        {#if isAdmin}
            <a href="administration">Administration</a>
        {/if}
        <a href="/">Logout</a>
    {:else}
        <a href="login">Login</a>
    {/if}
    <div class="search-container">
        <form action="searchResult">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</nav>